$color-input: #E6E0DF;
$color-text: #000000;
$color-btn: #7CF364;

.form-container {
    display: grid;
    padding-top: 50px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: cursive;
}

.form-input {
    font-size: 12px;
    padding: 15px;
    margin: 25px 0 0 0;
    border: none;
    background-color: $color-input;
    color: $color-text;
    font-family: cursive;
}

.form-submit {
    font-size: 15px;
    padding: 15px;
    border-radius: 25px;
    font-family: cursive;
    border: none;
    background-color: $color-btn;
    margin: 20px 0 50px 0;
    cursor: pointer;
}

.error {
    font-size: 10px;
    color: red;
    margin-top: 5px;
}
