$color-hover: #E6E0DF;
$color-home: #000000;


.nav-container {
    margin-bottom: 40px;
}

.home {
    font-size: 50px;
    text-align: center;
    padding: 60px 0 40px 0;
}

.item {
    text-align: start;
    padding: 20px 15px 20px 60px;

    .item-text {
        font-size: 20px;
        color: $color-home;
    }

    .text-name {
        margin-left: 15px;
    }

    &:hover {
        background-color: $color-hover;
    }
}
