$color-nav: #EAEAEA;

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
}

.container-nav {
  background-color: $color-nav;
}

@media (max-width: 768px){
    .container {
        grid-template-columns: 100%;
    }
}
